
.header-box {
    top: 20%;
    left: 10%;
    transform: translate(-50%, -40%);
    position: absolute;
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0px #E9631A;
    color: #E9631A;
    font-family: "Kay Pho Du", serif;
}

.card{
    top: 10%;
    font-family: "Kay Pho Du", serif;
    color: #707070;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    font-family: "Kay Pho Du", serif;
  }
  