.home {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .center-text {
    text-align: center;
    margin: 20px 0;
  }
  
  .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .recipe-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .recipe-card p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .recipe-title {
    text-decoration: none;
    color: #007bff;
  }
  
  .recipe-title:hover {
    text-decoration: underline;
  }
  
  .delete-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-size: 0.9rem;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .save-button {
    background: transparent; /* Removes the button background */
    border: none; /* Removes the border */
    cursor: pointer; /* Makes the cursor a pointer */
    padding: 0; /* Removes padding */
  }
  
  .heart-icon {
    font-size: 1.8rem; /* Adjust the icon size */
    color: #ccc; /* Default grey color */
    transition: color 0.3s ease-in-out; /* Smooth transition */
  }
  
  .heart-icon.saved {
    color: orange; /* Orange when saved */
  }

  .add-recipe-button {
    text-align: center;
    margin: 10px 0;
  }
  
  .add-recipe-button button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  .add-recipe-button button:hover {
    background-color: #218838;
  }
  
  .add-recipe-form {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .add-recipe-form input,
  .add-recipe-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-recipe-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .add-recipe-form button:hover {
    background-color: #0056b3;
  }
  
  